@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

ul {
	padding: 0px!important;
}

.menu-principal {
	width: 100%;
	background-color: #252323;
	height: 60px;
}

.img-logo {
	width: 100px;
}

main {
	width: 980px;
	position: relative;
	margin: 0 auto;
}

.logo {
	float: left;
	padding: 10px 0;
	width: 70%;
}

.redes-sociais ul li {
	list-style: none;
	display: inline-block;
	float: left;
	margin-left: 22px;
}

.redes-sociais {
	width: 25%;
	float: right;
	margin-top: 5px;
}

.bi {
	color: #fff;
	font-size: 1.30rem;
}

.bi:hover {
	color: #009973;
}

.header-2 {
	background-color: #fff;
	width: 980px;
	margin: 0 auto;
	padding: 10px;
}

.menu-urls {
	height: 70px;
	border-bottom: 3px solid #efefef;
} 

.menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
	-webkit-transition: 0.5s;
  	transition: 0.5s;
}

.menu ul li a {
	text-decoration: none;
	color: #8b8b8b;
	text-transform: uppercase;
	font-size: 15px;
}

.menu ul li a:hover {
	color: #009973;
	border-bottom: 3px solid #009973;
	padding-bottom: 25px;
}

.menu {
	width: 70%;
	float: left;
}

.busca {
	width: 30%;
	float: right;
	text-align: center;
}

.busca input {
	margin-top: 10px;
	height: 25px;
	padding: 0 10px;
	width: 190px;
	background-image: url('../_img/icone-lupa.png');
	background-repeat: no-repeat;
	background-position: 96%;
	background-size: 1.4em;
	border: 1px solid #d6d6d6;
	box-sizing: border-box;
	-webkit-transition: 0.5s;
  	transition: 0.5s;
  	outline: none;
  	border-radius: 5px;
}

.busca input[type=text]:focus {
  	-webkit-box-shadow: 0px -1px 14px 9px rgba(0,153,115,0.11); 
	box-shadow: 0px -1px 14px 9px rgba(0,153,115,0.11);
}

.col-100 {
	width: 100%;
	float: left;
	position: relative;
}

.slider-principal img {
     width: 100%;
     height: 600px;
}

button.slick-prev {
	font-size: 0px;
	border: none;
	width: 25px;
	height: 51px;
	background-color: transparent;
	background-image: url('../_img/seta-left.png');
    background-repeat: no-repeat;
	position: absolute;
	z-index: 9;
	bottom: 40%;
	left: 10%;
	cursor: pointer;
}

button.slick-next {
	font-size: 0px;
	border: none;
	width: 25px;
	height: 51px;
	background-color: transparent;
	background-image: url('../_img/seta-right.png');
    background-repeat: no-repeat;
	position: absolute;
	z-index: 9;
	bottom: 40%;
	right: 10%;
	cursor: pointer;
}

.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 2%;
}

li.slick-active button {
    background: #009973;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}





















